*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
}

:root{
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
}

p{
    font-size: 15px;
}

body, header{
    background: var(--Off-white);
}

body{
    height: 100vh;
    padding: 0 200px 0 200px;
}


header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    > img{
        width: 65px;
        height: 40px;
        cursor: pointer;
    }
}

ul{
    display: flex;
    gap: 45px;
    color: var(--Darkgrayishblue);
    font-size: 15px;
    cursor: pointer;
}

.main{
    display: grid;
    grid-template-areas: 
    "img img new"
    "content content new";

    >div>img{
        width: 730px;
        grid-area: img;
    }

    .side-card{
        grid-area: new;
        background: var(--Verydarkblue);
        color: white;
        width: 320px;
        height: 480px;
    }

    .content{
        grid-area: content;
        display: flex;
        width: 100%;
        h1{
            padding: 20px 0 0 0;
            width: 49%;
            font-weight: 800;
            font-size: 42px;
        }
        
        div{
            width: 50%;
        >p {
            padding: 20px 0 25px 0;
            color: var(--Darkgrayishblue);
            line-height: 25px;
        } 

        button{
            padding: 15px 35px;
            background: var(--Softred);
            color: var(--Off-white);
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 700;
            border: none;
        }
    }
        
    }
}

